<template>
    <div class="simple-root">
        <div :class="{'form-group': true, 'has-warning': errors.has('email')}">
            <label class="control-label col-sm-2">Email</label>
            <div class="col-sm-10">
                <input v-validate="'required|email'" v-model="email" :class="{'form-control': true}" name="email"
                       type="text" placeholder="Email">
                <span v-show="errors.has('email')" class="help has-warning">{{ errors.first('email') }}</span>
            </div>
        </div>
        <div :class="{'form-group': true, 'has-warning': errors.has('name')}">
            <label class="control-label col-sm-2">Name</label>
            <div class="col-sm-10">
                <input v-validate="'required'" v-model="name" :class="{'form-control': true }" name="name"
                       type="text" placeholder="Name">
                <span v-show="errors.has('name')" class="help has-warning">{{errors.first('name') }}</span>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" :disabled="!formDirty">Download
            </button>
        </div>
    </div>
</template>
