
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
// Variables
@import "/paper/variables";
$yellow: #FFCC66;

// Bootstrap
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "/paper/bootstrap";

body {
  padding-top: 100px;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Condensed", inherit;
}

#footer {
  padding-top: 50px;
  padding-bottom: 50px;

  margin-bottom:0px !important;

  ul {
    list-style: none;
  }

}

.top-buffer {
  margin-top: 30px;
}

.bottom-buffer {
  margin-bottom: 30px;
}

.big-icon {
  font-size: 35px;
  padding-top: 6px;
  color: $yellow;
}

.client-direction-nav a {
  height: 60px;
}

.flexslider {
  background: rgba(0,0,0,0) !important ;
  border: rgba(0,0,0,0) !important;
}

.flex-caption {
    width: 100%;
    padding: 2%;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.04);
    color: inherit;
    // text-shadow: 0 -1px 0 rgba(0,0,0,.3);
    font-size: 14px;
    line-height: 18px;
}

.flex-direction-nav a {
  height: 60px !important;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.95);
  font-family: "Roboto Condensed", inherit;
}

.nav-tabs {
  margin-bottom: 20px;
}

.nav-tabs > li.active > a {
  border: none;
  box-shadow: inset 0 -2px 0 #2196f3;
  color: #2196f3;
}

.nav-tabs > li > a:hover {
  background-color: transparent;
  -webkit-box-shadow: inset 0 -2px 0 #2196f3;
  box-shadow: inset 0 -2px 0 #2196f3;
  color: #2196f3;
}

.nav-tabs > li.active > a:hover {
  border: none;
  color: #2196f3;
}

.nav-tabs > li > a {
  margin-right: 0;
  background-color: transparent;
  border: none;
  color: #666666;
  -webkit-box-shadow: inset 0 -1px 0 #dddddd;
  box-shadow: inset 0 -1px 0 #dddddd;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.navbar-brand {
  padding: 6px 0 0 20px;
}

#contact-info {
  background: rgba(0,0,0,0.04);
  color: rgb(102,102,102);

  a {
    color: rgb(102,102,102);
  }

  a:hover {
    color:rgb(102,102,102);
  }
}

/* Turn off parallax scrolling for tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1024px) {
  .parallax {
    background-attachment: scroll;
  }
}

.parallax {
  background-image: url("/images/shelters/street-cycle-shelter/street-cycle-shelter-full-size.jpg");

  min-height: 500px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.panel-yellow > .panel-heading {
  border-color: $yellow;
  background-color: $yellow;
  font-family: "Roboto Condensed", "Roboto", "Helvetica Neue", SansSerif;
  font-size: 16px;
  color: rgba(0,0,0,0.7);
}

.panel-yellow > .panel-body {
  height: 150px;
}

.thumb-img {
  margin: -15px 0px 0px 0px;
  padding-left: 0px;
}

.no-gutter {
  padding-left: 0;
  padding-right: 0;
}
